.I*
.X*
.a*
.bash_*
.c*
.d*
.e*
.f*
.gc*
.gi*
.gn*
.go*
.gt*
.k*
.l*
.m*
.n*
.o*
.p*
.r*
.s*
.t*
.vim/
.vim_*
.vimi*
.vo*
.vs*
.w*
.x*
.y*
.zc*
.zsh-*
.zsh_*
.zshrc.*
*.swp
*.log
*.bak
*.flv
Vir*/
D*/
P*/
go/
snap/
local/
store/
src/
tmp/
trash/
