.A*
.I*
.T*
.X*
.a*
.b*
.c*
.d*
.e*
.f*
.gc*
.gi*
.gn*
.go*
.gr*
.gt*
.ic*
.j*
.k*
.l*
.m*
.n*
.o*
.p*
.r*
.s*
.t*
.vim/
.vim_*
.vimi*
.vimrc.local
.vo*
.vs*
.w*
.x*
.y*
.zc*
.zo*
.zsh-*
.zsh_*
.zshrc.*
*.swp
*.log
*.bak
*.flv
*.webm
A*/
Vir*/
D*/
P*/
Q*/
S*/
go/
snap/
local/
store/
src/
tmp/
trash/
