[user]
        name = tarlety
        email = tarlety@users.noreply.github.com
[color]
        ui = true
[alias]
        comment = "commit --amend "
[push]
        default = matching
[core]
	editor = vim
