*.swp
.kube/
.secret/
.rnd
.python*
.git*
.config/
.npm/
.yarnrc
*.log
.samba/
store
store/
.lesshst
.gnupg/
.oh-my-zsh/
.vim/
.vim_mru_files
.*.bak
.zcompdump
.zcompdump*
.zsh-update
.zsh_history
.zshrc.pre-oh-my-zsh
.wget-hsts
.viminfo
.bash_history
.bash_logout
.cache/
.ssh/
.sudo_as_admin_successful
src/
